

.cart {
    position: relative;
   padding: 5px; 
 }
 .cartItem {
    position: absolute;
   top: 13px;
   left: 45px;
   background-color: rgb(219, 218, 218);
   padding: 4px;
   height: 17px;
   width: 17px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 15px; 
 }